name: Update ClamAV Database

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *" # runs daily

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install ClamAV
        run: |
          sudo apt-get update
          sudo apt-get install -y clamav clamav-freshclam

      - name: Fetch latest ClamAV databases
        run: |
          mkdir -p db
          sudo freshclam --datadir=db

      - name: Upload databases as release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: latest
          name: ClamAV DB (latest)
          files: db/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
